<footer class="footer">
  <div class="container footer-container">
    <ul class="footer-navigation">
      <li class="footer-link">
        <a class="footer-underline" href="Cookies Policy.html">Cookies Policy</a> <span class="span-line">/</span>
      </li>
      <li class="footer-link">
        <a class="footer-underline" href="Privacy Policy.html">Privacy Policy</a> <span class="span-line">/</span>
      </li>
      <li class="footer-link">
        <a class="footer-underline" href="Terms & Conditions.html">Terms & Conditions</a>
      </li>
    </ul>
  
    <p class="footer-text">
      All Rights Reserved brilthoria.com | 2025
    </p>
  </div>
</footer>
