<!-- hero -->
 <section class="hero-section">
    <div class="container hero-container">
        <h1 class="visually-hidden">Mine Blitz Saga</h1>
        <div class="hero-wrapper">
            <div class="hero-second-wrapper">
            <h2 class="hero-subtitle">Think Fast, Dig Smart!</h2>
        </div>
            <div class="hero-third-wrapper">
            <p class="hero-text">Welcome to Mine Blitz Saga — a fast-paced minesweeper adventure where one wrong move can blow your plans!</p>
        </div>
    </div>
    </div>
 </section>
 <!-- GAME DESCRIPTION -->
  <article class="description-section ">
    <div class="container description-container">
        <h2 class="description-title">GAME DESCRIPTION</h2>
        <p class="description-text">Step into the world of Mine Blitz Saga, where classic minesweeper meets thrilling arcade action. Tap, dodge, and
        outsmart explosive surprises across pixel-packed levels!</p>
    </div>
  </article>
  <!-- GALLERY -->
   <section class="gallery-section">
    <div class="container">
        <h2 class="gallery-title">GALLERY</h2>
        <div class="swiper gallery-swiper">
            <div class="swiper-wrapper gallery-swiper-wrapper">
                <div class="swiper-slide gallery-swiper-slide">
        <picture class="picture">
        <source srcset="/img/gallery/photo-one-desk.png  1x,
        /img/gallery/photo-one-desk@2x.png 2x
         " media="(min-width: 1439px)" />
         <source srcset="
         /img/gallery/photo-one-mob.png  1x,
        /img/gallery/photo-one-mob@2x.png 2x
        " media="(max-width: 1438px)" />
<img class="gallery-img" src="/img/gallery/photo-one-mob.png" alt="Play screens" loading="lazy"  width="262" height="395"/>
 </picture>
 </div>
<div class="swiper-slide gallery-swiper-slide">
 <picture class="picture">
 <source srcset="/img/gallery/photo-two-desk.png  1x,
/img/gallery/photo-two-desk@2x.png 2x" media="(min-width: 1439px)" />
 <source srcset="/img/gallery/photo-two-mob.png  1x,
/img/gallery/photo-two-mob@2x.png 2x" media="(max-width: 1438px)" />
<img class="gallery-img" src="/img/gallery/photo-two-mob.png" alt="Play screens" loading="lazy"  width="262" height="365" />
 </picture>
</div>
  <div class="swiper-slide gallery-swiper-slide">
<picture class="picture">
<source srcset="/img/gallery/photo-three-desk.png  1x, /img/gallery/photo-three-desk@2x.png 2x" media="(min-width: 1439px)" />
<source srcset="/img/gallery/photo-three-mob.png  1x,
/img/gallery/photo-three-mob@2x.png 2x" media="(max-width: 1438px)" />
<img class="gallery-img" src="/img/gallery/photo-three-mob.png" alt="Play screens" loading="lazy" width="262" height="365" />
</picture>
</div>
<div class="swiper-slide gallery-swiper-slide">
    <picture class="picture">
        <source srcset="/img/gallery/photo-four-desk.png  1x, /img/gallery/photo-four-desk@2x.png 2x"
            media="(min-width: 1439px)" />
        <source srcset="/img/gallery/photo-four-mob.png  1x,
    /img/gallery/photo-four-mob@2x.png 2x" media="(max-width: 1438px)" />
        <img class="gallery-img" src="/img/gallery/photo-four-mob.png" alt="Play screens" loading="lazy" width="262" height="365" />
    </picture>
    </div>
</div>
        </div>
    </div>
   </section>
   <!-- HOW TO PLAY -->
    <section class="play-section">
        <div class="container">
            <h2 class="play-title">HOW TO PLAY</h2>
            <div class="play-wrapper">
                <img class="play-img" src="/img/play/play-one.png"
                    srcset="/img/play/play-one.png 1x, /img/play/play-one.png 2x" alt="Rules
                    " loading="lazy" />
                    <img class="play-img" src="/img/play/play-two.png" srcset="/img/play/play-two.png 1x, /img/play/play-two.png 2x" alt="Rules" loading="lazy" />
                    <img class="play-img" src="/img/play/play-three.png" srcset="/img/play/play-three.png 1x, /img/play/play-three.png 2x" alt="Rules" loading="lazy" />
                    <img class="play-img" src="/img/play/play-four.png" srcset="/img/play/play-four.png 1x, /img/play/play-four.png 2x"
                        alt="Rules" loading="lazy" />
                        <img class="play-img" src="/img/play/play-five.png" srcset="/img/play/play-five.png 1x, /img/play/play-five.png 2x"
                            alt="Rules" loading="lazy" />
            </div>
        </div>
    </section>
