.header {
    position: fixed;
    top: 0px;
    left: 50%;
    transform: translateX(-50%);
    z-index: 999;
}
.header-img{
    display: block;
}
.container-header {
    padding: 0 20px;
}
.header-container {
    display: flex;

    width: 336px;
    height: 58px;
    margin-top: 17px;
}
.menu-button {
    display: flex;
    align-items: center;
    justify-content: center;
    border: 1px solid #eeebee;
        border-radius: 30px;
    width: 50px;
    height: 50px;
    box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.25);
        background: #fff;
    margin-right: 10px;
    margin-left: auto;
}

.navigation-list {
    display: none;
}

/* Modal */
.modal {
    display: none;
    box-shadow: 0 3px 4px 0 rgba(0, 0, 0, 0.25), inset 0 -2px 4px 0 rgba(0, 0, 0, 0.25);
        background: #10a7e8;
        border-radius: 40px;
            width: 330px;
            height: 675px;
    z-index: 1000;
    position: fixed;
    top: 68px;
    left: 50%;
    transform: translateX(-50%);
    padding: 141px 80px 196px;
    transition: visibility 0.3s ease;
}

.modal-close-button {
    display: flex;
    align-items: center;
    justify-content: center;
    background-color: inherit;
    margin-left: 190px;
    position: absolute;
    top: 10px;
    box-shadow: 3px 3px 4px 0 rgba(0, 0, 0, 0.25);
        background: #fff;
        border: 1px solid #eeebee;
            border-radius: 30px;
            width: 50px;
            height: 50px;
}
.menu-list {
    display: flex;
    flex-direction: column;
    gap: 34px;
    align-items: center;
}

.menu-list-item {
    font-family: "Lato", sans-serif;
        font-weight: 400;
        font-size: 18px;
        line-height: 1.5;
        letter-spacing: 0.01em;
        color: #000;
        transition: font-weight 0.3 easy;
}

.menu-list-item:hover {
    font-weight: 700;
}
.logo-img{
    display: none;
}
@media screen and (min-width: 1440px) {
    .header {
        backdrop-filter: none;
        background: #fff;
        width: 715px;
        border-radius: 42px;
        height: 72px;
        margin-top: 10px;
    }
        .logo-img{
display: block;
}
    .menu-button {
        display: none;
    }

    .header-img {
        display: none;
    }
    .nav{
        display: flex;
        align-items: center;
        gap: 38px;
    }

    .navigation-list {
        display: flex;
        gap: 30px;
        font-family: "Lato", sans-serif;
            font-weight: 400;
            font-size: 18px;
            line-height: 1.5;
            letter-spacing: 0.01em;
            color: #000;
    }

    .header-container {
        display: flex;
        align-items: center;
        width: 715px;
        height: 72px;

        margin-top: 0px;
        padding: 0 13px;
    }

    .game-img {
        width: 103px;
        height: 103px;
        margin-right: 62px;
    } }