@import url('./reset.css');
@import url('./base.css');
@import url('./container.css');
@import url('./footer.css');
@import url('./header.css');


.privacy-title{
  font-family: "Potta One", sans-serif;
font-weight: 400;
font-size: 24px;
line-height: 150%;
color: #000;
margin-top: 90px;
width: 167px;
margin-left: auto;
margin-right: auto;
margin-bottom: 20px;
}
.privacy-first-text{
  font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #000;
margin-top: 16px;
margin-bottom: 16px;
}
.privacy-text{
  font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #000;
margin-bottom: 16px;
}
.privacy-subtitle{
  font-family: "Montserrat", sans-serif;
  font-weight: 700;
  font-size: 16px;
  line-height: 150%;
  color: #000;
  margin-bottom: 16px;
}
.privacy-list-text{
  font-family: "Montserrat", sans-serif;
font-weight: 400;
font-size: 16px;
line-height: 150%;
color: #000;
}
.privacy-list{
  font-family: "Montserrat", sans-serif;
  font-weight: 400;
  font-size: 16px;
  line-height: 150%;
  color: #000;
    list-style-type: disc;
        padding-left: 20px;
        margin-bottom: 16px;
  }
  .privacy-link{
    text-decoration: underline;
  }
    .footer {
      background: #fff;
      background-image: none;
    }
  @media only screen and (min-width:1439px) {
    .privacy-title{
      font-size: 40px;
      margin-bottom: 48px;
      width: 305px;
    }
    .privacy-first-text{
      font-size: 24px;
      margin-bottom: 24px;
    }
    .privacy-text{
      font-size: 24px;
      margin-bottom: 24px;
    }
    .privacy-subtitle{
      font-size: 24px;
      margin-bottom: 24px;
    }
    .privacy-list-text{
      font-size: 24px;
      margin-bottom: 24px;
    }
    .privacy-list{
      font-size: 24px;
      margin-bottom: 24px;
    }
    .footer{
      width: 1045px;
      margin-left: auto;
      margin-right: auto;
    }
  }